<div class="container">
    <header>
        <h1> Hello <small>{{title }}</small></h1>
    </header>
    <!-- <nav>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a routerLink="login" routerLinkActive="active">Login</a>
        <a routerLink="product" routerLinkActive="active">Product</a>
        <a routerLink="server" routerLinkActive="active">Server</a>
        <a routerLink="search" routerLinkActive="active">Search</a>
    </nav> -->
    <main class="p-3">
        <button class="btn btn-danger" (click)="changeCounter()">Click</button>
        <button class="btn btn-danger mx-2" (click)="changeY()">Change y </button>
        <span> Greet:  {{counter}}</span>
        <!-- <router-outlet></router-outlet> -->
        <hr>
        <button class="btn btn-primary" (click)="double()">Double</button> <span> {{i}}</span>
        <div class="alert alert-info my-3">
            <app-home [x]="y"></app-home>
        </div>
    </main>
    <hr>
    <footer class="bg-dark text-light p-3">&copy; 2024</footer>
</div>