<div class="container">
    <header class="p-3">
        <h1>Hello, <small>{{ title }}</small></h1>
    </header>
    <!-- <nav>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a routerLink="login" routerLinkActive="active">Login</a>
        <a routerLink="product" routerLinkActive="active">Product</a>
        <a routerLink="server" routerLinkActive="active">Server</a>
        <a routerLink="search" routerLinkActive="active">Search</a>
    </nav> -->
    <main class="p-3">
       <h2>Main</h2>

       <!-- <button class="btn btn-outline-primary" (click)="double()">Change</button> {{x}} -->

       <button class="btn btn-primary me-3" (click)="change()">Change</button>
       <button class="btn btn-primary" (click)="double()">Double</button>
       <p> x is {{x() }} and y is {{y()}} </p>
        
    </main>
    <footer class="bg-dark text-light p-3">&copy; 2024</footer>
</div>